<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Blog Site</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://getbootstrap.com/docs/5.0/dist/css/bootstrap.min.css" crossorigin="anonymous">
</head>
<body>

<header th:insert="blocks/header.html :: header"></header>





<div class="container mt-5">
    <h1>Словарь</h1>
    <!--В цикле перебераем все элементы-->
    <div th:each="el : ${posts}" class="alert alert-info mt-2">
        <h3 th:text="${el.TITLE}"/>
        <p th:text="${el.ANONS}"/>
        <a th:href="'/blog/' + ${el.ID}" class="btn btn-warning">Детальнее</a>
    </div>
</div>




<div th:insert="blocks/footer.html :: footer"></div>



</body>
</html>